@page "/"
@inject ComprableColumnService columnService
@inject ComparisonTemplator templator

<h1>Sql Data Compare!</h1>
<p>1. Enter two queries</p>
<p>2. Select the Keys</p>
<p>3. Copy the comparison script.</p>

<div class="d-flex flex-row">
    <SqlInput Title="Assert Sql"
              SqlParsed="(ParsedSql a) => { columnService.UpdateParsedSql(assertSql: a); StateHasChanged(); }" />
    <SqlInput Title="Test Sql"
              SqlParsed="(ParsedSql t) => { columnService.UpdateParsedSql(testSql: t); StateHasChanged(); }" />
</div>

@if (columnService.Comparable)
{
    <h1>Comparable!</h1>
    <ColumnTable OrderedColumns="@(() => columnService.ComparableColumns)" Changed="UpdateTemplate" />

    @if (needsKeys)
    {
        <p>You must pick at least one key column.</p>
    }
    else
    {
        <SqlTemplate Sql="@templatedSql" />
    }
}
else
{
    <div style="color:darkred">@columnService.ErrorMessage</div>
}

@code{
    private string templatedSql = string.Empty;
    private bool needsKeys = true;

    private void UpdateTemplate()
    {
        if (!columnService.ComparableColumns.Any(x => x.IsKey))
        {
            needsKeys = true;
            return;
        }

        needsKeys = false;
        templatedSql = templator.Create(columnService.AssertParsedSql.Sql,
                                        columnService.TestParsedSql.Sql,
                                        columnService.ComparableColumns,
                                        true);
        StateHasChanged();
    }
}
