@page "/"

    <h1>Sql Data Compare!</h1>
    <p>1. Enter two queries</p>
    <p>2. Select the Keys</p>
    <p>3. Copy the comparison script.</p>

    <SqlInput Title="Assert Sql" />
    <SqlInput Title="Test Sql" />
