@page "/"
@inject ComprableColumnService columnService
@inject ComparisonTemplator templator

<h4><span class="numberCircle">1</span> Add SQL</h4>

<div class="row">
    <div class="col-xl">
        <SqlInput Title="Assert Sql"
                  SqlParsed="(ParsedSql a) => { columnService.UpdateParsedSql(assertSql: a); UpdateTemplate(); }" />
    </div>
    <div class="col-xl">
        <SqlInput Title="Test Sql"
                  SqlParsed="(ParsedSql t) => { columnService.UpdateParsedSql(testSql: t); UpdateTemplate(); }" />
    </div>
</div>

@if (comparable)
{
    <h4><span class="numberCircle">2</span> Select Keys</h4>
    <ColumnTable OrderedColumns="@(() => columnService.ComparableColumns)" Changed="UpdateTemplate" />

    @if (needsKeys)
    {
        <p>You must pick at least one key column.</p>
    }
    else
    {
        <h4><span class="numberCircle">3</span> Copy Template</h4>
        <SqlTemplate Sql="@templatedSql" />
    }
}
else
{
    <div style="color:darkred">@columnService.ErrorMessage</div>
}

@code{
    private string templatedSql = string.Empty;
    private bool needsKeys = true;
    private bool comparable = false;

    private void UpdateTemplate()
    {
        // TODO figure out why state is changed isn't behaving as
        // expected so we can remove some of these extra calls.
        comparable = columnService.Comparable;
        if (!columnService.ComparableColumns.Any(x => x.IsKey))
        {
            needsKeys = true;
            StateHasChanged();
        }
        else
        {
            needsKeys = false;
            StateHasChanged();
            templatedSql = templator.Create(columnService.AssertParsedSql,
                                            columnService.TestParsedSql,
                                            columnService.ComparableColumns);
            StateHasChanged();
        }

    }
}
