<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="">Sql Data Compare</a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                Home
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="https://github.com/Siphonophora/SqlDataCompare/blob/master/docs/getting_started.md">
                Getting Started
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="https://github.com/Siphonophora/SqlDataCompare">
                Project Page
                <img src="images/GitHub-Mark-64px.png" height="20" class="d-inline-block" alt="GitHub Logo">
            </NavLink>
        </li>
    </ul>
    <span class="navbar-text">
        Generate Sql Server data comparison scripts for free!
    </span>
</nav>
