<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="">Sql Data Compare</a>
    <button class="navbar-toggler" @onclick="@(() => collapseNavMenu = !collapseNavMenu)">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="@NavMenuCssClass">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    Home
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="https://github.com/Siphonophora/SqlDataCompare/blob/master/docs/usage_guide.md">
                    Usage Guide
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="https://github.com/Siphonophora/SqlDataCompare/blob/master/docs/privacy_security.md">
                    Privacy and Security
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="https://github.com/Siphonophora/SqlDataCompare">
                    Project Page
                    <img src="images/GitHub-Mark-64px.png" height="20" class="d-inline-block" alt="GitHub Logo">
                </NavLink>
            </li>
        </ul>
        <span class="navbar-text">
            Generate Sql Server data comparison scripts for free!
        </span>
    </div>
</nav>

@code {
    bool collapseNavMenu = true;

    string baseMenuClass = "navbar-collapse";

    string NavMenuCssClass => baseMenuClass + (collapseNavMenu ? " collapse" : "");
}
