@inject IJSRuntime JSRuntime

<button class="btn btn-primary" @onclick="CopyTextToClipboard">Copy Sql</button>
<textarea readonly @bind="Sql"
          style="height: 40rem; font-family:Consolas"
          type="text"
          class="form-control mt-3" />

@code{
    [Parameter] public string Sql { get; set; }

    private async Task CopyTextToClipboard()
    {
        await JSRuntime.InvokeVoidAsync("clipboardCopy.copyText", Sql);
    }
}
